
Descrizione <input type="text" [(ngModel)]="prodotto.descrizione">
Prezzo <input type="text" [(ngModel)]="prodotto.prezzo">
<hr>
<button (click)="inserisciArticolo()">Aggiungi</button>
<button (click)="leggiCatalogoCompleto()">Aggiorna</button>
<button (click)="svuotaCatalogo()">Svuota Catalogo</button>
<table>
  <tr *ngFor="let prodotto of prodotti">
    <td>{{prodotto.id}}</td>
    <td>{{prodotto.descrizione}}</td>
    <td>{{prodotto.prezzo}}</td>
    
    <td>
      <button (click)="cancellaProdotto(prodotto)">X</button>
    </td>
  </tr>
</table>